/* Contenedor principal */
#Slider_Section {
    width: 430px;
    height: 296px;
    position: relative;
}

/* Área del slider */
.Slider {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

/* Contenedor de imágenes */
.slider-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Imágenes */
.slider-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slider-image.active {
    opacity: 1;
}

/* Dots */
.Frame1 {
    position: absolute;
    bottom: 10px;        /* ubica los dots abajo del slider */
    left: 50%;
    transform: translateX(-50%);
    top: 300px;
    display: flex;
    gap: 15px;
    z-index: 10;
}

/* Cada dot */
.dot {
    cursor: pointer;
    transition: transform 0.3s ease;
}


/* Colores */
.dot svg circle {
    fill: #D9D9D9;
    transition: fill 0.3s ease;
   
}

.dot.active svg circle {
    fill: #4C2C53 !important;
 
}

.slider-top-btn {
    /* Posicionamiento */
    position: absolute;
    top: 83%; /* Distancia desde el borde superior */
    left: 50%;
    transform: translateX(-50%); /* Truco para centrarlo horizontalmente exacto */
    z-index: 20; /* Para que aparezca por encima de las fotos */

    /* Estilos visuales (Copiados de tu identidad de marca) */
    background: linear-gradient(180deg, #824C91 0%, #4C2C53 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    
    /* Tipografía y tamaño */
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: white;
    text-decoration: none; /* Quita el subrayado del link */
    text-transform: uppercase;
    
    /* Espaciado interno */
    padding: 10px 25px; /* Ajusta esto si lo quieres más grande o chico */
    
    /* Animación suave */
    transition: opacity 0.3s, transform 0.1s;
}

/* Efecto al pasar el mouse (Hover) */
.slider-top-btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Efecto al hacer click (Active) */
.slider-top-btn:active {
    transform: translateX(-50%) translateY(2px); /* Mantiene el centrado y baja un poco */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}