/* Contenedor principal */
#Slider_Section {
    width: 430px;
    height: 296px;
    position: relative;
}

/* Área del slider */
.Slider {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

/* Contenedor de imágenes */
.slider-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Imágenes */
.slider-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slider-image.active {
    opacity: 1;
}

/* Dots */
.Frame1 {
    position: absolute;
    bottom: 10px;        /* ubica los dots abajo del slider */
    left: 50%;
    transform: translateX(-50%);
    
    display: flex;
    gap: 15px;
    z-index: 10;
}

/* Cada dot */
.dot {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.dot:hover {
    transform: scale(1.2);
}

/* Colores */
.dot svg circle {
    fill: #D9D9D9;
    transition: fill 0.3s ease;
}

.dot.active svg circle {
    fill: #007bff;
}
